/build/
/devel/
.idea
.vscode
/src/ris_calib/thirdparty/ctraj-build/
/src/ris_calib/thirdparty/ctraj/thirdparty/tiny-viewer-build/

/src/ris_calib/output/*

!/src/ris_calib/output/simu1
/src/ris_calib/output/simu1/*
!/src/ris_calib/output/simu1/radar_imu.bag
!/src/ris_calib/output/simu1/truth.json

!/src/ris_calib/output/simu2
/src/ris_calib/output/simu2/*
!/src/ris_calib/output/simu2/radar_imu.bag
!/src/ris_calib/output/simu2/truth.json

!/src/ris_calib/output/simu3
/src/ris_calib/output/simu3/*
!/src/ris_calib/output/simu3/radar_imu.bag
!/src/ris_calib/output/simu3/truth_align_to_imu0.yaml

!/src/ris_calib/output/simu4
/src/ris_calib/output/simu4/*
!/src/ris_calib/output/simu4/radar_imu.bag
!/src/ris_calib/output/simu4/truth_align_to_imu0.yaml


/cmake-build-debug

*.pdf
*.dtmp
*.bkp
*.log
*.out
*.lof
*.bbl
*.blg
*.aux
*.lot
*.gz
*.toc